Django==5.1.5
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
django-cors-headers==4.6.0
django-import-export==4.4.1

gunicorn==23.0.0
whitenoise==6.8.2
dj-database-url==3.1.2
psycopg2-binary==2.9.12

python-decouple==3.8
python-dotenv==1.2.2

openai==3.14.0
requests==2.34.2
httpx==0.28.1

boto3==1.43.48
Pillow==11.1.0
plivo==4.62.0

geopy==2.5.0
polyline==2.0.4

lxml==6.1.2
simplejson==4.1.1
PyYAML==6.0.3